/*styling the sign up*/
body{
    padding: 0;
    margin: 0;
}
#forms{
    width: 100%;
    background-color: none;
    height: 60vh;
    margin-top: 150px;
    display: flex;
}
.new{
    width: 35%;
    background-color:none;
    margin-left: 3%;
    background-color: #020216;
    border-radius: 5px;
}
    h5{
        text-align: center;
        font-size: 20px;
        color: #ffbc1f;
        
    }
/* Navigation */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbc1f;
    color: white;
    height: 4rem;
    padding-top: 0.1rem;
}

.navbar input[type=text] {
    width: 300px;
    height: 3rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 25px;
    background-color: #020202;
    margin:0.2rem 0 0  0.8rem;
    color: white;

  }
  
  
 .navbar input[type=text]:focus {
    width: 50%;
    color: #f7f3eb;
  }

.navbar .brand-title{
    width: 20%;
    margin-left: 2rem;
    padding: 4px;
}


.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: underline;
    color: white;
    padding: 1rem;
    margin-left: 6rem;
}

.navbar-links li:hover {
    background-color: #c9c9c9;
    
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
input[type=text]{
    width: 70%;
    margin-left:17%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 20px;
}


/* Forms */

input[type=text]:focus{
    background-color: #ffbc1f;
}
input[type=button]{
    width: 30%;
    margin-left:33%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color:#ffbc1f ;
    font-size: 20px;
}
#myBtn{
    width: 30%;
    margin-left:33%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #ffbc1f;
    font-size: 20px;
}
input[type=button]:hover{
    background-color:#d9d9d9 ;
    border: none;
}

#myBtn:hover{
    background-color:#d9d9d9 ;
    border: none;
}
.exits{
    width: 35%;
    background-color: #020216 ;
    margin-left: 3%;
    height: 55vh;
    border-radius: 5px;
}
.new{
    height: 32rem;
    border-radius: 5px;
}
.or{
    width: 19%;
    background-color:#020216;
    margin-left: 3%;
    height: 50vh;
    border-radius: 5px;
}
input[type=submit]{
    width: 80%;
    margin-left: 9%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 60px;
    cursor: pointer;
    background-color: #ffbc1f;
    font-size: 20px;
    
}
input[type=submit]:hover{
    background-color:#d9d9d9;
    border: none;
}


#DA{
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    
}



.address {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
  }
  
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #btn{
    width: 30%;
    margin-left: 17%;
  }

  #btn1{
    width: 30%;
    margin-left: 8%;
  }
#forms {
    height: 30rem;
    top: -7rem;
    position: relative;
}

.modal-footer {
    display: flex !important;
    justify-content: space-evenly;
}
  /*styling the payment*/

  .mpesa{
    height: 50vh;
    width: 50%;
    margin-left: 30%;
    background-color: #ffbc1f;
    text-align: center;
    box-shadow: #fefefe;
}
p{
    font-size: 20px;
    color: #020202;
}
input[type=radio]{
    font-weight: 700px;
    color: yellow;
}
/* Footer */
.bottom-page {

    background-color: #020216;
    height: 19rem;
    z-index: 1;
    position: relative;
    margin: 0;

    /* left: -4rem; */
    display: flex;
    align-items: center;
    line-height: 1.0em;
    width: 100%;
    
}
.bottom-page li a{
    color: #ffbc1f;
    font-size: 1.5rem;
    font-weight: 600;
}
.bottom-page li a:hover{
    color: #c9c9c9;
}
.bottom-page ul li{
    list-style: none;
    font-size: 1.2em;
    margin-left: 8rem;
    color: #ffff;
    margin-top: 1.5rem;
}
.social-icons img{
    position: relative;
}

.contact-info{
    
    margin-bottom: 4.5rem;
}


.social-icons b a{
    font-size: 0.8em;
    color: #fff;
}
.social-icons b a img{
    width: 2rem;
    
}

.social-icons h5{
    font-size: 1.2em;
    color: #c9c9c9;
}
.contact-map{
    padding: 0;
    margin-top: -0rem;
    
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
footer{
    height: 2rem;
    background-color: #ffbc1f;
    margin-top: -1.3rem;
}
footer p{
    text-align: center;
    color: #020216;
    font-size: 1.1em;
    padding: 10px;
    
}

