.middle-home-part{
    /*background-color: blue;*/
    height: 280vh;
    margin: 0;
    padding: 0%;
}
.main-secondpart{
   /* background-color: aqua;*/
    width: 90%;
    margin: 0 auto;
    padding: 8px 20px;
}
.main-secondpart{
    /* background-color: aqua;*/
     width: 90%;
     margin: 0 auto;
     padding: 8px 20px;
 }
 .main-secondpart h2{
     text-align: center;
     font-size: 2.5em;
     padding: 0px;
     margin-top: 90px;
 }
 .main-second:after {
     clear   : both;
     display : table;
     content : '';
 }
 .seecc-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2px 40px;
    
}
.middle-secc-part{
    background: #d2d2d2;
    box-sizing: border-box;
    border-radius: 27px;
    border: #fff;
    height: 50vh;
    width: 100%;
    box-shadow:  #c9c9c9 0px -0px 2px 0px;
    border-bottom: solid 5px #c9c9c9;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30PX;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    
}
.middle-secc-part img{
    width: 100%;
}
.middle-secc-part h4{
    margin-top: 10px;
    margin-bottom: -40px;
    color: #020216;
    font-size: 1.3em;
}
.middle-secc-part h5{
    color: #020216;
    margin-bottom: 0px;
    font-size: 1.2em;
}
.cart{
    padding: 0px 50px;
    
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between; 
}
.cart a img{
    width: 25px;
    height: 25px;
    /* UI Properties */
    opacity: 1;
    padding: px 100px;
    
}
.cart a{
    margin-bottom: 80px;
    text-decoration: none;
    font-size: 1.2em;
    color: #000000;
    font-weight: 600;
    margin-top: -10px;
}
.cart a:hover{
    color: blue;
}