.middle-home-part{
    /*background-color: blue;*/
    height: 280vh;
    margin: 0;
    padding: 0;
}
.main-secondpart{
   /* background-color: aqua;*/
    width: 90%;
    margin: 0 auto;
    padding: 8px 20px;
}
.main-secondpart{
    /* background-color: aqua;*/
     width: 90%;
     margin: 0 auto;
     padding: 8px 20px;
 }
 .main-secondpart h2{
     text-align: center;
     font-size: 2.5em;
     padding: 0px;
     margin-top: 90px;
 }
 .main-second:after {
     clear   : both;
     display : table;
     content : '';
 }
 .seecc-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2px 40px;
    
}
.middle-secc-part{
    background: #d2d2d2;
    box-sizing: border-box;
    border-radius: 27px;
    border: #fff;
    height: 50vh;
    width: 100%;
    box-shadow:  #c9c9c9 0px -0px 2px 0px;
    border-bottom: solid 5px #c9c9c9;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30PX;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    
}
.middle-secc-part img{
    width: 100%;
}
.middle-secc-part h4{
    margin-top: -10px;
    margin-bottom: -2rem;
    color: #020216;
    font-size: 1.3em;
}
.middle-secc-part h5{
    color: #020216;
    margin-bottom: 0px;
    font-size: 1.2em;
}
.cart{
    padding: 0px 50px;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between; 
}
.cart a img{
    width: 25px;
    height: 25px;
    opacity: 1;
}
.cart a{
    margin-bottom: 80px;
    text-decoration: none;
    font-size: 1.2em;
    color: #000000;
    font-weight: 600;
    margin-top: -10px;
}
.cart a:hover{
    color: #ffbc1f;
}


.terms_conditions{
    height: 50vh;
    background: #c9c9c9;
    margin: 2px ;
    width: 80%;
    margin-left: 9rem;
    box-sizing: border-box;
    border-radius: 27px;
    padding: 20px;
}

.terms_conditions li{
    font-size: 1.3em;margin: 7px 30px;
    font-weight: 500;
    align-items: center;
}
.bottom-page {
    width: 100%;
    background-color: #020216;
    height: 19rem;
    z-index: 1;
    position: relative;
    margin: 0;
    padding: 2rem;
    left: -4rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    line-height: 1.0em;
    white-space: nowrap;
    
}
.bottom-page li a{
    color: #ffbc1f;
    font-size: 1.5rem;
    font-weight: 600;
}
.bottom-page li a:hover{
    color: #c9c9c9;
}
.bottom-page ul li{
    list-style: none;
    font-size: 1.2em;
    margin-left: 8rem;
    color: #ffff;
    margin-top: 1.5rem;
}
.social-icons img{
    position: relative;
}

.contact-info{
    
    margin-bottom: 4.5rem;
}


.social-icons b a{
    font-size: 0.8em;
    color: #fff;
}
.social-icons b a img{
    width: 2rem;
    
}

.social-icons h5{
    font-size: 1.2em;
    color: #c9c9c9;
}

.contact-map{
    padding: 0;
    margin-top: -0rem;
    
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}